:root {
    --font: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    --font-title: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;

    --color-background: rgb(18, 18, 18);
    --color-background-secondary: rgba(80, 80, 85, 0.2);
  
    --color-primary: rgb(236, 236, 236);
    --color-secondary: rgb(189, 192, 194);
    --color-tertiary: rgb(103, 103, 103);
    
    --color-link-primary: rgb(98,158,251);
    --color-link-secondary: rgb(255, 214, 10);

    --graph-base-primary: rgb(51, 51, 51);
    --graph-base-secondary: rgb(77, 77, 77);

    --graph-highlight-primary: rgb(98,158,251);
    --graph-highlight-secondary: rgb(65, 200, 117);
    --graph-highlight-tertiary: rgb(255, 214, 10);
}