:root {
    --font: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    --font-title: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;

    --color-background: rgb(18, 18, 18);
    --color-background-secondary: rgba(80, 80, 85, 0.2);
  
    --color-primary: #ececec;
    --color-secondary: #BDC0C2;
    --color-tertiary: #676767;
    
    --color-link-primary: rgb(98,158,251);
    --color-link-secondary: rgb(255, 214, 10);

    --graph-base-primary: hsl(0, 0%, 20%);
    --graph-base-secondary: hsl(0, 0%, 30%);

    --graph-highlight-primary: rgb(98,158,251);
    --graph-highlight-secondary: rgb(98,158,251);
}