:root {
    --font: "Roboto Flex", sans-serif;
    --font-title: "Roboto Mono", sans-serif;

    --color-background: rgb(18, 18, 18);
    --color-background-secondary: rgba(80, 80, 85, 0.2);
  
    --color-primary: rgb(236, 236, 236);
    --color-secondary: rgb(189, 192, 194);
    --color-tertiary: rgb(103, 103, 103);
    
    --color-link-primary: rgb(98,158,251);
    --color-link-secondary: rgb(255, 214, 10);

    --graph-base-primary: rgb(51, 51, 51);
    --graph-base-secondary: rgb(77, 77, 77);

    --graph-highlight-primary: rgb(98,158,251);
    --graph-highlight-secondary: #50C878;
    --graph-highlight-tertiary: #FFD966;
}