.grid-images img:hover { transform: scale(1.05); }
  
.grid-images {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-images img {
  display: table-cell;
  border: 1px solid;
  background-repeat: no-repeat;
  object-fit:cover;
  aspect-ratio: 3/4;
  border-radius: var(--radius);
  overflow: hidden; 
  margin: 0;
  transition: 300ms;
}

@media screen and (max-width: 600px) { 
    .grid-news { grid-template-columns: 1fr; row-gap: 20px; }
    .grid-images { grid-template-columns: 1fr 1fr; }
}

/*---------------------------------*/


.carousel {
  position: relative;
  overflow: hidden; /* Nasconde le immagini in eccesso */
  width: 100%;
  margin: 0;
  aspect-ratio: 3/4;
  border-radius: var(--radius);
}

.carousel-inner {
  display: flex; /* Flexbox per disporre le immagini in una riga */
  transition: transform 0.5s ease; /* Aggiungi una transizione per il movimento */
}

.carousel-item {
  min-width: 100%; /* Ogni immagine occupa il 100% della larghezza del carosello */
  box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza */
}

.carousel img {
  width: 100%; /* Assicura che le immagini occupino l'intera larghezza */
  height: auto; /* Altezza automatica */
  object-fit: cover; /* Copre l'area senza distorcere l'immagine */
  margin: 0; /* Rimuovi eventuali margini */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: grey;
  border: none;
  padding: 10px;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 100px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}