.grid-images img:hover { transform: scale(1.05); }
  
.grid-images {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-images img {
  display: table-cell;
  border: 1px solid;
  background-repeat: no-repeat;
  object-fit:cover;
  aspect-ratio: 3/4;
  border-radius: var(--radius);
  overflow: hidden; 
  margin: 0;
  transition: 300ms;
}

@media screen and (max-width: 600px) { 
    .grid-news { grid-template-columns: 1fr; row-gap: 20px; }
    .grid-images { grid-template-columns: 1fr 1fr; }
}

/*---------------------------------*/

.carousel {
  position: relative;
  overflow: hidden; /* Nasconde le immagini in eccesso */
  width: 100%;
  margin: 0;
  aspect-ratio: 3/4;
  border-radius: var(--radius);
}

.carousel-inner {
  display: flex; /* Flexbox per disporre le immagini in una riga */
  transition: transform 0.5s ease; /* Aggiungi una transizione per il movimento */
}

.carousel-item {
  min-width: 100%; /* Ogni immagine occupa il 100% della larghezza del carosello */
  box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza */
}

.carousel img {
  width: 100%; /* Assicura che le immagini occupino l'intera larghezza */
  height: auto; /* Altezza automatica */
  object-fit: cover; /* Copre l'area senza distorcere l'immagine */
  margin: 0; /* Rimuovi eventuali margini */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: grey;
  border: none;
  padding: 10px;
  height: 40px; /* Aumentato per un bottone circolare più grande */
  width: 40px; /* Aumentato per un bottone circolare più grande */
  border-radius: 50%; /* Rende il bottone circolare */
  cursor: pointer;
  display: flex;
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: center; /* Centra orizzontalmente il contenuto */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  display: flex; /* Utilizza Flexbox per disporre i puntini in fila */
  justify-content: center; /* Centra i puntini */
  margin-top: 10px; /* Spazio sopra i puntini */
}

.indicator {
  width: 10px; /* Larghezza dei puntini */
  height: 10px; /* Altezza dei puntini */
  border-radius: 50%; /* Rende i puntini circolari */
  background-color: grey; /* Colore dei puntini non attivi */
  margin: 0 5px; /* Spazio tra i puntini */
  cursor: pointer; /* Cambia il cursore se vuoi farli cliccabili */
  opacity: 0.5; /* Trasparenza per i puntini non attivi */
}

.indicator.active {
  background-color: var(--color-link-primary); /* Colore dei puntini attivi */
  opacity: 1; /* Opacità piena per il puntino attivo */
}