:root {
    --font: "Roboto Flex", sans-serif;
    --font-title: "Roboto Flex", sans-serif;

    --color-background: #FFFFFF;
    --color-background-secondary: #F6F6F6;
  
    --color-primary: rgb(0, 0, 4);
    --color-secondary: rgb(0, 0, 4);
    --color-tertiary: rgb(0, 0, 4);
    
    --color-highlight: #0083ff;

    --graph-highlight: #0083ff;
    --graph-base01: #C2C2C5;
    --graph-base02: #D7D7D8;
    --graph-base03: #EBEBEC;
}