:root {
    --font: "Roboto Flex", sans-serif;
    --font-title: "Roboto Mono", sans-serif;

    --color-background: #D7C9AC;
    --color-background-secondary: #D7C9AC;
  
    --color-primary: #1c1c1c;
    --color-secondary: rgb(39, 39, 39);
    --color-tertiary: rgb(143, 143, 143);
    
    --color-link-primary: #B39761;
    --color-link-secondary: #B39761;

    --graph-base-primary: rgb(217, 217, 217);
    --graph-base-secondary: rgb(191, 191, 191);

    --graph-highlight-primary: #B39761; 
    --graph-highlight-secondary: rgb(4, 164, 159);
    --graph-highlight-tertiary: rgb(200, 173, 65);
}