:root {
    --font: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    --font-title: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;

    --color-background: #FFFFF6;
    --color-background-secondary: #FAF2DD;
  
    --color-primary: rgb(0, 0, 4);
    --color-secondary: rgb(39, 39, 39);
    --color-tertiary: rgb(143, 143, 143);
    
    --color-link-primary: #d3425a;
    --color-link-secondary: #d3425a; 
}