.trail-card {
    position: relative;
    background-color: var(--color-background-secondary);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* overlay */
.trail-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

/* hover */
.trail-card:hover::before { opacity: 0.3; }

.trail-card:hover img { filter: brightness(0.5); }

.trail-card img {
    width: 60%;
    height: 40vw;
    max-height: 400px;
    object-fit: cover;
    display: block;
    transition: filter 0.2s ease;
}

.trail-card img.is-visible {
}

.trail-title {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.trail-date {
    color: grey;
}

.trail-info {
    padding: 0.5rem;
    text-align: center;
    flex: 1;
}

@media (max-width: 500px) {
.trail-card {
    flex-direction: column;
}
.trail-info {
    padding: 1rem;
}
.trail-card img {
    width: 100%;
    height: 300px;
}
}