@import url('tracker.css');

:root {
    --width: 710px;
    --screen-margin: 15px;
    --font-title-spacing: -0.5px;

    --font-size: 18px;
    --font-line: 26px;
    --font-line-title: 1.15;

    --margin: 30px;
    --margin-light: 12px;
    --padding: 15px;

    --radius: 8px;

    --font: "Roboto Flex", sans-serif;
    --font-title: "Roboto Flex", sans-serif;

    --color-background: rgb(18, 18, 18);
    --color-background-secondary: rgba(80, 80, 85, 0.2);
    --color-background-tertiary: rgba(80, 80, 85, 0.9);

    --color-primary: rgb(236, 236, 236);
    --color-secondary: rgb(189, 192, 194);
    --color-tertiary: rgb(103, 103, 103);

    --color-highlight: #1ea3ea;
    --color-highlight-bar: #1ea3ea;
}

main {
    line-height: var(--font-line);
    text-wrap: pretty;
}

hr {
    margin: var(--margin);
    opacity: 50%;
    border-top: 1px solid var(--color-tertiary);
}

details hr {
    margin: var(--margin-light);
}

body {
    max-width: var(--width);
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--font-line);
    color: var(--color-secondary);
    padding: var(--screen-margin);
    background: var(--color-background);
    margin: auto;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p {
    margin-bottom: var(--margin-light);
    margin-top: var(--margin-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
    line-height: var(--font-line-title);
    margin-bottom: var(--margin-light);
    margin-top: var(--margin);
    font-weight: 600;
    font-family: var(--font-title);
    letter-spacing: var(--font-title-spacing);
}

code {
    font-family: var(--font-title);
}

h1 {
    font-size: calc(var(--font-size)*1.8);
}

h2 {
    font-size: calc(var(--font-size)*1.5);
}

h3 {
    font-size: calc(var(--font-size)*1.3);
}

h4 {
    font-size: calc(var(--font-size)*1.2);
    color: var(--color-tertiary)
}

/* basic bold */
h5 {
    font-size: calc(var(--font-size)*1.0);
}

/* Testo Esplicativo */
h6 {
    font-size: calc(var(--font-size)*1.0);
    color: var(--color-tertiary);
}

details {
    border-radius: var(--radius);
    border: 1px;
    border-color: var(--color-tertiary);
    border-style: solid;
    background-color: var(--color-background-secondary);
    line-height: 1.3;
    padding: var(--padding) calc(var(--padding)*1.5);
    color: var(--color-secondary);
    margin: var(--margin-light);
}

details > summary {
    list-style: none;
}

details > hr {
    margin: var(--padding);
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: ' >';
}

details[open] summary:after {
    content: "  Ë…";
}

summary {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--color-primary);
}

mark {
    color: var(--color-highlight);
    background-color: transparent;
}


/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

blockquote {
    border-left-width: 3px;
    border-color: var(--color-highlight);
    background-color: var(--color-background-primary);
    border-style: solid;

    line-height: 1.2;
    padding: var(--padding);
    color: var(--color-secondary);
    margin: var(--margin-light);
    font-size: var(--font-size-light);
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

strong,
a,
b {
    font-weight: 600;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-highlight);
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin-right: 8px;
}

em {
    color: var(--color-tertiary);
    font-style: normal;
}

.card {
    border-radius: var(--radius);
    background-color: var(--color-background-secondary);
}
