@import url('tracker.css');

:root {
    --width: 710px;
    --screen-margin: 15px;
    --font-title-spacing: -0.5px;

    --font-size: 18px;
    --font-line: 26px;
    --font-line-title: 1.15;

    --margin: 30px;
    --margin-light: 12px;
    --padding: 15px;
    --radius: 8px;

    --font: "Roboto Flex", sans-serif;
    --font-title: "Roboto Flex", sans-serif;

    --color-black: rgb(0,0,0);
    --color-grey-20: rgb(20,20,20);
    --color-grey-40: rgb(40,40,40);
    --color-grey-60: rgb(60,60,60);
    --color-grey-80: rgb(80,80,80);
    --color-grey-100: rgb(163,163,163);
    --color-white: rgb(255,255,255);
    --TBD: red;

    --color-background-secondary: rgba(80, 80, 85, 0.2);
    --color-background-tertiary: rgba(255, 255, 255, 0.1);

    --color-highlight: var(--color-white);
    --color-primary: var(--color-white);
    --color-secondary: var(--color-grey-100);
    --color-tertiary: var(--color-grey-100);

    --color-background: var(--color-black);




    --element-chart-bar-primary: var(--color-grey-40);
    --element-chart-bar-secondary: var(--color-grey-20);

    --element-color-highlight: var(--color-white);
    --element-color-title: var(--color-white);
    --element-color-text: var(--color-grey-100);
    --element-color-subtext: var(--color-grey-80);
    --element-color-background: var(--color-black);

    --element-color-hr: var(--color-grey-60);
    --element-color-button: var(--color-grey-20);
    --element-color-button-hover: var(--color-grey-40);
}

main {line-height: var(--font-line);text-wrap: pretty;}
hr {border-top: 1px solid var(--element-color-hr); margin: var(--margin);}
details hr {margin: var(--margin-light);}
p {margin: var(--margin-light) 0;}

body {
    max-width: var(--width);
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--font-line);
    color: var(--element-color-text);
    background: var(--element-color-background);
    padding: var(--screen-margin);
    margin: auto;text-align: left;word-wrap: break-word;overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--element-color-title);
    line-height: var(--font-line-title);
    margin-bottom: var(--margin-light);
    margin-top: var(--margin);
    font-weight: 400;
    font-family: var(--font-title);
    letter-spacing: var(--font-title-spacing);
}

h1 {font-size: calc(var(--font-size)*3);}
h2 {font-size: calc(var(--font-size)*1.5);}
h3 {font-size: calc(var(--font-size)*1.3);}
h4 {font-size: calc(var(--font-size)*1.2);}
h5 {font-size: calc(var(--font-size)*1.2); color: var(--element-color-subtext)}
h6 {font-size: calc(var(--font-size)*1.0); color: var(--element-color-subtext)}

details {
    background-color: var(--TBD);
    border-color: var(--TBD);
    color: var(--TBD);
    border-radius: var(--radius);
    border: 1px;
    border-style: solid;
    line-height: 1.3;
    padding: var(--padding) calc(var(--padding)*1.5);
    margin: var(--margin-light);
}
details[open] summary:after {content: "  ˅";}
details > summary {list-style: none;}
details > hr { margin: var(--padding);}
summary::-webkit-details-marker {display: none}
summary::after {content: ' >';}
summary {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--TBD);
}

blockquote {
    border-left-width: 3px;
    border-color: var(--color-highlight);
    background-color: var(--color-background-primary);
    border-style: solid;

    line-height: 1.2;
    padding: var(--padding);
    color: var(--color-secondary);
    margin: var(--margin-light);
    font-size: var(--font-size-light);
}

img {width: 100%;height: auto;object-fit: contain;}
strong, a, b {font-weight: 600;}

a {
    color: var(--element-color-highlight);
    cursor: pointer;text-decoration: none;
}
a:hover {text-decoration: underline;}
nav a {margin-right: 8px;}
em { color: var(--TBD);font-style: normal;}

.card {border-radius: var(--radius); background-color: var(--TBD);}

.btn {
    background-color: var(--element-color-button);
    color: var(--element-color-title);
    padding: 8px 20px;
    margin-top: 8px;
    border-radius: 100px;
    font: bold; display:inline-block;
    text-decoration: none;
}

.btn:hover {background-color: var(--element-color-button-hover);text-decoration: none;}
