.track-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 80px));
  gap: 0.1rem 0.3rem;
  justify-content: space-between;
}
.trackcard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.trackcard-image {
  width: 100%;
  border: 1px solid var(--color-background-tertiary);
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 0.75;
  transition: transform 0.2s ease;
  transition: opacity 0.2s ease;
}

.image-wrapper:hover .trackcard-image {
  opacity: 0.15;
}

.trackcard-image.favorite { border: 2px solid var(--color-highlight); }

.card-content { font-size: calc(0.7*var(--font-size)); }

.card-content.favorite { color: var(--color-highlight); }

.track-filters {
  /* justify-content: center; */
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  font-size: calc(0.7*var(--font-size));
}

.track-filters button {
  padding: 0.4rem 1rem 0.3rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-tertiary);
  border-radius: 8px;
  color: var(--color-secondary);
  cursor: pointer;
  transition: 0.3s;
}

.track-filters button.active, .track-filters button:hover {
  background-color: var(--color-background-secondary);
  color: var(--color-secondary);
}

.track-filters button.active { font-weight: bold; }

button.disabled, button:disabled { opacity: 0.4; }

.image-wrapper {
  position: relative;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  opacity: 0;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
  transition: opacity 0.2s ease;
  border-radius: 5px;
}

.image-wrapper:hover .image-overlay {
  opacity: 1;
}