hr {
    margin: 30px 40px 25px;
}

.track-grid {
  display: flex;
  flex-direction: column;
}

.track-section {
  width: 100%;
  display: block;
}

.track-section p {
  margin-top: 0px;
}

.track-section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
}

.trackcard .image-wrapper img {
  width: 100%;
  display: block;
}

.not-award-title {
  color: var(--color-tertiary);
}

.not-award-card img {
  filter: grayscale(100%);
}

.award-list a {
  text-decoration: none;
  color: var(--color-highlight);
}
.award-list a:hover {
  text-decoration: underline;
}

.award-list {
  margin-bottom: 0px;
}

.trackcard {
  position: relative;
  overflow: visible;
  /*margin-bottom: 20px;*/
}

/*  .badge-container {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 4%;
  width: 100%;
  z-index: 3;
}

.badge {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--badge-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.35);
}

.badge svg {
  width: 60%;
  height: 60%;
  display: block;
} */

.trackcard.placeholder-card {
  background: var(--color-background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--color-background-tertiary);
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 0.75;
  transition: transform 0.2s ease;
  transition: opacity 0.2s ease;
}

.placeholder-inner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-background-tertiary);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: 800;
  color: var(--color-tertiary);
  user-select: none;
}

.trackcard.placeholder-card:hover {
  filter: brightness(1.2);
}

.hidden-game img {
  filter: grayscale(100%);
  opacity: 0.9;
}
