<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Kirito Kitto">
    <title>Kirito Kitto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link id="theme" rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/showroom.css' | relative_url }}">
</head>
<body>
  <header>
    <nav><p>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="https://t.me/kiritokitto">Contact</a>
      </p></nav>
  </header>
  <main>
    {{ content }}
  </main>
  <script src= "{{ '/js/summary.js' | relative_url }}"></script>
</body>
</html>
