<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Kirito Kitto">

    <title>Kirito Kitto</title>
    <!-- <link rel="icon" href="percorso/della/tuafavicon.ico" type="image/x-icon"> -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    
    <link id="theme" rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <!-- <link id="theme-link" rel="stylesheet" href="{{ '/css/dark.css' | relative_url }}"> -->
</head>
<body>
  <header>
    <nav><p>
        <a href="{{ site.baseurl }}/home">Home</a>
        <!-- <a href="{{ site.baseurl }}/job">Lavoro</a> -->
        <a href="https://t.me/kiritokitto">Contact</a>
        <!-- <a href="#" id="theme-link-switcher">Switch Theme</a> -->
      </p></nav>
  </header>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- <script src= "{{ '/js/theme-switcher.js' | relative_url }}"></script> -->
  <main>
    {{ content }}
  </main>
  <script src= "{{ '/js/carousel.js' | relative_url }}"></script>
  <script src= "{{ '/js/summary.js' | relative_url }}"></script>
</body>
</html>