.track-grid {display: flex;flex-direction: column;}
.track-section {width: 100%;display: block;}
.track-section p {margin-top: 0;}
.track-section-grid {display: grid;grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); gap:5px;}

.not-award-card img {filter: grayscale(100%);}
.award-list {margin-bottom: 0;}
.hidden-game img {filter: grayscale(100%);opacity: 0.9;}

.trackcard {position: relative;overflow: visible;}
.trackcard .image-wrapper img {width: 100%;display: block;}
.trackcard.placeholder-card:hover {filter: brightness(1.2);}
.trackcard.placeholder-card {
  background: var(--color-grey-20);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--color-grey-40);
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 0.75;
  transition: opacity 0.2s ease;
}

.placeholder-inner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-grey-40);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: 800;
  color: var(--color-grey-80);
  user-select: none;
}

